<div
  id="sawo-container"
  style="width: 300px; height: 500px; margin: auto"
></div>
<script src="http://websdk.sawolabs.com/sawo.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var config = {
    containerID: "sawo-container",
    identifierType: "{{sawo.identifier}}",
    // Add the API key copied from 2nd step
    apiKey: "{{sawo.auth_key}}",
    onSuccess: (payload) => {
      axios({
        method: "post",
        url: "/{{sawo.to}}",
        data: { payload },
      }).then((res) => {
        location.reload();
      });
    },
  };
  var sawo = new Sawo(config);
  sawo.showForm();
</script>
